<div class="container-fluid">

    <h1 class="d-flex">Product List</h1>
  <button [routerLink]="'/seller-Add'" class=" btn btn-success">Add Products</button>
    <table class="table text-center">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Color</th>
          <th>Category</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let item of productList">
          <td><img src="{{ item.image }}" class="w-80" /></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.description }}</td>
          <td>
            <!-- <fa-icon (click)="deleteProduct(item.id)" [icon]="pen"></fa-icon> -->
            <!-- <a class="adjust-update-link" routerLink="/seller-update-product/{{item.id}}"> <fa-icon  [icon]="trash"></fa-icon></a> -->
            <button class="btn btn-success m-2" (click)="editdata(item.id)"><fa-icon class="pen" [icon]="pen"></fa-icon></button>
            <button class="btn btn-danger m-2" (click)="deleteProduct(item.id)"><fa-icon class="trash" [icon]="trash"> </fa-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

